@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .ltr {
        direction: ltr;
    }

    .rtl {
        direction: rtl;
    }

    .leading-0 {
        line-height: 0;
    }

    .text-fill-transparent {
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
    }

    .text-fill-dark {
        -webkit-text-fill-color: #00000000;
        text-fill-color: #00000000;
    }

    .bg-bottom-center {
        background-position: bottom center;
    }

    .bg-top-center {
        background-position: top center;
    }

}

.scrollbar::-webkit-scrollbar {
    @apply w-1 h-1;
}

.scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent rounded-none absolute;
}


.dark .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-white/20;
}

.on-hover-scroll::-webkit-scrollbar {
    @apply w-1 h-1;
}



.on-hover-scroll::-webkit-scrollbar-track {
    @apply bg-transparent rounded-none absolute;
}

.on-hover-scroll::-webkit-scrollbar-thumb {
    @apply bg-transparent transition-all duration-200 ease-in-out rounded-full;


}


.on-hover-scroll:hover::-webkit-scrollbar-thumb {
    @apply bg-neutral-900/20;
}


.dark .on-hover-scroll:hover::-webkit-scrollbar-thumb {
    @apply bg-white/20;
}


@layer utilities {
    .scroll-thick::-webkit-scrollbar {
        @apply w-2 h-2;
    }
}

[x-cloak] {
    @apply hidden;
}



.dark .iti--separate-dial-code {
    .iti__selected-dial-code {
        @apply text-white/30
    }
}


/*Range Slider Thumb*/
/* Range Handle */
.range-slider__range {


  



    /* Focus state */
    &:focus {

        &::-webkit-slider-thumb {
            @apply shadow-1;
        }
    }
}



.select2 {
    @apply opacity-0 absolute top-0 inset-0 w-full flex items-stretch !important;

    .selection {
        @apply flex-1 flex items-stretch;

        .select2-selection {
            @apply flex-1 flex items-stretch h-auto text-neutral-900/60;

            .select2-selection__rendered {
                @apply leading-none flex-1 flex items-center text-neutral-900/60 !important;

            }
        }
    }
}

.dark .select2 {
    .selection {
        .select2-selection {
            @apply text-white/80 ;
            .select2-selection__rendered {
                @apply  text-white/60 !important;
            }
        }
    }
}
 

 
.select2-dropdown{
    @apply border-transparent shadow-1 rounded-sl p-3 text-neutral-600 
}

.select2-dropdown .select2-search__field{
    @apply border border-neutral-900/20 bg-transparent !important;
    
}





.select2-container--open .select2-dropdown--below{
    @apply rounded-sl
}

.dark .select2-dropdown {
    @apply bg-neutral-600 ring-white/5  !important
}

.select2-results__option{
    @apply  text-neutral-900/70 !important;
    &:hover {
        @apply bg-neutral-900/5  !important
    }
  
}
.dark .select2-results__option{
    @apply  text-white/80 !important;
    &:hover {
        @apply bg-white/5 text-white !important
    }
  
}


.select2-container--default .select2-results__option[aria-selected=true] {
    @apply bg-transparent text-neutral-900/70 !important;

    &:hover {
        @apply bg-neutral-900/5 !important
    }
}

.dark .select2-container--default .select2-results__option[aria-selected=true] {
    @apply bg-transparent text-white/90 !important;

    &:hover {
        @apply bg-white/5 text-white !important
    }
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar {
    @apply w-1 h-1;
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-track {
    @apply bg-transparent rounded-none absolute;
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb {
    @apply bg-transparent transition-all duration-200 ease-in-out rounded-full;

}

.select2-container--default .select2-results>.select2-results__options:hover::-webkit-scrollbar-thumb {
    @apply bg-neutral-900/20;
}

.dark .select2-container--default .select2-results>.select2-results__options:hover::-webkit-scrollbar-thumb {
    @apply bg-white/20;
}
